@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to SuperFit</h1>
    <p class="lead">The best & cheapest gym club.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Find a SuperFit gym near your location &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Classes that you might like</h2>
        <p>
            Here will be a few links to similiar classes like te user liked.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>This can be your workout..</h2>
        <video width="600" height="480" controls class="video-style">
            <source src="../../videos/trailer_vid.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<div class="column right">
    <div class="row">
        <a class="twitter-timeline" href="https://twitter.com/SuperfitClub?ref_src=twsrc%5Etfw">Tweets by SuperfitClub</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <a href="https://twitter.com/SuperFitClub?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow SuperFitClub</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <a href="https://twitter.com/intent/tweet?screen_name=SuperFitClub&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to SuperFitClub</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="column center-block">

    </div>
