@{
    ViewBag.Title = "Home Page";
}
    <head>
        <title>Befit Sports Category Bootstrap Responsive Website Template | Home :: W3layouts</title>
        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <meta name="keywords" content="Befit Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        <!-- //Meta tag Keywords -->
        <!-- Custom-Files -->
        <link rel="stylesheet" href="~/Content/bootstrap.css">

        <link rel="stylesheet" href="~/Content/css_slider.css">
        <!-- Bootstrap-Core-CSS -->
        <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all" />
        <!-- Style-CSS -->
        <link href="~/Content/font-awesome.min.css" rel="stylesheet">
        <!-- Font-Awesome-Icons-CSS -->
        <!-- //Custom-Files -->
        <!-- Web-Fonts -->
        <link href="//fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
              rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
              rel="stylesheet">
        <!-- //Web-Fonts -->
        <link rel="stylesheet" href="~/Content/ovveride.css">
    </head>

    <body>
        <!-- //header -->
        <div class="banner_w3lspvt">
            <div class="csslider infinity" id="slider1">
                <input type="radio" name="slides" checked="checked" id="slides_1" />
                <input type="radio" name="slides" id="slides_2" />
                <input type="radio" name="slides" id="slides_3" />
                <input type="radio" name="slides" id="slides_4" />
                <ul class="banner_slide_bg">
                    <li>
                        <div class="container">
                            <div class="w3ls_banner_txt text-right ml-auto pr-xl-0 pr-sm-4 pr-5">
                                <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-2">Welcome Our SuperFit</h3>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit <br>acntium doemque laudantium, totam
                                    rem aperiam eaque ipsa <br>quae ab illo.
                                </p>
                                <a href="about.html" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Read More</a>
                                <a href="contact.html" style="max-width: 150px;" class="btn button-style button-style-2 ml-2 mt-sm-5 mt-4">
                                    Contact
                                    Us
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <div class="w3ls_banner_txt text-right ml-auto pr-xl-0 pr-sm-4 pr-5">
                                <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-2">Yoga & Meditation</h3>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit <br>acntium doemque laudantium, totam
                                    rem aperiam eaque ipsa <br>quae ab illo.
                                </p>
                                <a href="about.html" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Read More</a>
                                <a href="contact.html" style="max-width: 150px;" class="btn button-style button-style-2 ml-2 mt-sm-5 mt-4">
                                    Contact
                                    Us
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <div class="w3ls_banner_txt pl-xl-0 pl-sm-4 pl-5">
                                <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-2">Your Health Coach</h3>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit <br>acntium doemque laudantium, totam
                                    rem aperiam eaque ipsa <br>quae ab illo.
                                </p>
                                <a href="about.html" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Read More</a>
                                <a href="contact.html" style="max-width: 150px;" class="btn button-style button-style-2 ml-2 mt-sm-5 mt-4">
                                    Contact
                                    Us
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <div class="w3ls_banner_txt pl-xl-0 pl-sm-4 pl-5">
                                <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-2">Health & Strength</h3>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit <br>acntium doemque laudantium, totam
                                    rem aperiam eaque ipsa <br>quae ab illo.
                                </p>
                                <a href="about.html" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Read More</a>
                                <a href="contact.html" style="max-width: 150px;" class="btn button-style button-style-2 ml-2 mt-sm-5 mt-4">
                                    Contact
                                    Us
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="arrows">
                    <label for="slides_1"></label>
                    <label for="slides_2"></label>
                    <label for="slides_3"></label>
                    <label for="slides_4"></label>
                </div>
                <div class="navigation">
                    <div>
                        <label for="slides_1"></label>
                        <label for="slides_2"></label>
                        <label for="slides_3"></label>
                        <label for="slides_4"></label>
                    </div>
                </div>
            </div>
        </div>
        <!-- //banner -->
        </div>

        <!-- about -->
        <div class="what py-5">
            <div class="container py-xl-5 py-lg-3">
                <h3 class="title-w3 mb-sm-4 mb-3 text-bl text-center font-weight-bold">Welcome to Our Website</h3>
                <p class="mx-auto wstyles text-center mb-sm-5 mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
                <div class="img-fluid">
                    <div class="col-md-4">
                        <video width="600" height="480" controls class="video-style">
                            <source src="../../videos/trailer_vid.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <!-- //about -->



        <div class="column right">
            <div class="row">
                <a class="twitter-timeline" href="https://twitter.com/SuperfitClub?ref_src=twsrc%5Etfw">Tweets by SuperfitClub</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                <a href="https://twitter.com/SuperFitClub?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow SuperFitClub</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                <a href="https://twitter.com/intent/tweet?screen_name=SuperFitClub&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to SuperFitClub</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="column center-block">

            </div>
    </body>
