@model WebApplication1.Models.HomeGraphs

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to SuperFit</h1>
    <p class="lead">The best & cheapest gym club.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Find a SuperFit gym near your location &raquo;</a></p>

</div>



<div class="row">
    <div class="col-md-4">
        <h2>This can be your workout..</h2>
        <video width="600" height="480" controls class="video-style">
            <source src="../../videos/trailer_vid.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<h2> Classes count per branch</h2>
<div class="col-md-4">
    <div id="my_dataviz"></div>
</div>
<div class="column right">
    <div class="row">
        <a class="twitter-timeline" href="https://twitter.com/SuperfitClub?ref_src=twsrc%5Etfw">Tweets by SuperfitClub</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <a href="https://twitter.com/SuperFitClub?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow SuperFitClub</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <a href="https://twitter.com/intent/tweet?screen_name=SuperFitClub&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to SuperFitClub</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="column center-block">

    </div>
</div>



<script src="https://d3js.org/d3-array.v2.min.js"></script>
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-format.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-time.v1.min.js"></script>
<script src="https://d3js.org/d3-time-format.v2.min.js"></script>
<script src="https://d3js.org/d3-scale.v3.min.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
</script>
<style>
</style>
<script>
    // set the dimensions and margins of the graph
    var margin = { top: 30, right: 30, bottom: 150, left: 60 },
        width = 460 - margin.left - margin.right,
        height = 450 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3.select("#my_dataviz")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    data = []
    @foreach (var branchData in Model.ClassesPerBranch)
    {
        @:data.push({ Branch: "@branchData.Name", Classes: @branchData.Count });
    }

    // sort data
    data.sort(function (b, a) {
        return a.Value - b.Value;
    });

        // X axis
        var x = d3.scaleBand()
            .range([0, width])
            .domain(data.map(function (d) { return d.Branch; }))
            .padding(0.2);
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x))
            .selectAll("text")
            .attr("transform", "translate(-10,0)rotate(-45)")
            .style("text-anchor", "end")
            .attr("font-size", 15)

        // Add Y axis
        var y = d3.scaleLinear()
            .domain([0, 25])
            .range([height, 0]);
        svg.append("g")
            .call(d3.axisLeft(y));

        // Bars
        svg.selectAll("mybar")
            .data(data)
            .enter()
            .append("rect")
            .attr("x", function (d) { return x(d.Branch); })
            .attr("y", function (d) { return y(d.Classes); })
            .attr("width", x.bandwidth())
            .attr("height", function (d) { return height - y(d.Classes); })
            .attr("fill", "#69b3a2")

</script>
