@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to SuperFit</h1>
    <p class="lead">The best & cheapest gym club.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Find a SuperFit gym near your location &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Classes that you might like</h2>
        <p>
            Here will be a few links to similiar classes like te user liked.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Meet our staff</h2>
        <p>Here will be our video</p>
    </div>
</div>